// fonts
@font-face
  font-family: 'raleway'
  src: url("../fonts/Raleway-Regular.ttf")
  font-weight: normal
@font-face
  font-family: 'raleway-bold'
  src: url("../fonts/Raleway-Bold.ttf")
  font-weight: normal
@font-face
  font-family: 'raleway-thin'
  src: url("../fonts/Raleway-Thin.ttf")
  font-weight: normal
// global
body
  font-family: raleway
.no-padding
  padding: 0px
.ver-center
  position: relative
  top: 50%
  // transform: translateY(-50%)
  z-index: 1
.bold
  font-family: raleway-bold
  font-weight: normal
.button
  font-family: raleway-bold
  font-size: 20px
  color: #2e2c2d
  background-color: #00d7ad
  padding: 10px 40px
  border-radius: 4px
  box-shadow: 0px 0px 5px #2e2c2d
  transition: 0.4s all ease
.button:active,.button:focus
  text-decoration: none
.button:hover
  background-color: #2e2c2d
  color: #fff
  text-decoration: none
  box-shadow: 0px 0px 5px #00d7ad
.main-pad
  padding-left: 90px
  padding-right: 90px
.slide-padding
  padding-top: 50px
  padding-bottom: 60px
.title
  text-align: center
  width: 100%
  margin-bottom: 40px
  h3
    margin-top: 0
.inline
  display: inline
// header
.logo-header
  max-width: 90px
  // margin-left: 30px
  position: relative
  top: -5px
.myNavbar
  background-color: #2e2c2d
  border-color: #2e2c2d
  box-shadow: 0px 2px 10px #000
  li
    a,a:focus
      background-color: #2e2c2d
      color: #fff
      font-family: raleway-bold
    a:hover,a:active
      background-color: #2e2c2d
      color: #8a8387
// slider
.slider
  text-align: center
  height: 100vh
  h1,h2,h3,h4
    color: #fff
    margin-top: 0
.conference
  background: url(../images/slider1.jpg)
.middle
  padding-top: 21%
.margin-buttonIndex
  margin-top: 60px
.margin-kategoriIndex
  position: absolute
  left: 0
  right: 0
  bottom: 50px
.carousel-indicators
  li
    border-color: none
    background-color: #fff
    margin-left: 5px
    margin-right: 5px
.carousel-indicators
  .active
    margin-left: 5px
    margin-right: 5px
    background-color: #00d7ad
    border-color: #00d7ad
.carousel-control
    position: absolute
    top: 0
    bottom: 0
    left: 0
    margin: auto
    height: 10%
    width: auto
    font-size: 20px
    text-align: center
    filter: alpha(opacity=50)
    opacity: 1
.carousel-control.left
    left: 3%
    background-image: none
.carousel-control.right
    right: 3%
    background-image: none
.carousel-control
  img
    max-width: 60px
// Works
#works
  // height: 100vh
.kotak-works
  background-color: #00d7ad
  height: 290px
  padding: 20px
  text-align: center
  box-shadow: 0px 0px 5px #2e2c2d
  transition: 0.6s all ease
  p
    font-size: 18px
.kotak-works:hover
  transform: scale(1.02)
  box-shadow: 0px 0px 15px #2e2c2d
.works-list
  margin-bottom: 50px
  li
    display: inline-block
.works-list
  li:nth-child(even)
    padding-left: 40px
    padding-right: 40px
    img
      max-width: 113px
  li:first-child
    padding-right: 80px
    img
      max-width: 80px
  li:last-child
    padding-left: 80px
    img
      max-width: 113px
.thumb-works
  padding-bottom: 50px
.button-position
  width: 100%
  text-align: center
// testi
.title-testi
  position: absolute
  width: 100%
  text-align: center
  z-index: 99
  margin-top: 20px
  h3
    color: #fff
.testi-back
  width: 100%
  height: 85vh
  object-fit: cover
.background::before
  position: absolute
  content: ''
  background-color: rgba(0, 0, 0, 0.5)
  background-repeat: no-repeat
  background-size: cover
  height: 85vh
  width: 100%
.content-testi
  position: absolute
  top: 140px
  left: 150px
  right: 150px
  color: #fff
ol.items-table
  list-style: none
.items-table
  margin-top: 60px
  padding: 0px 10px
  background-color: rgba(0, 215, 173, 0.52)
  border-radius: 4px
  padding-bottom: 10px
  li
    padding: 5px 5px
  li:first-child
    font-family: raleway-bold
    font-size: 20px
    text-align: center
  li:nth-child(even)
    border-radius: 2px
    background-color: rgba(46, 44, 45, 0.46)
// popular Product
.title-product
  h4
    margin-bottom: 5px
.margin-product
  // margin-right: 5px
  // margin-left: 5px
.kotak-product
  background-color: #2e2c2d
  padding: 10px
.thumb-product
  margin-top: 20px
  img
    width: 100%
    height: 130px
    object-fit: cover
.content-product
  margin-top: 20px
  color: #fff
  p
    margin-bottom: 0px
.green-font
  color: #00d7ad
.padding-product
  padding-left: 5px
  padding-right: 5px
// Service
.kotak-service1
  height: 160px
  width: 100%
  background-color: #000
  object-fit: cover
  img
    width: inherit
    height: 160px
    object-fit: cover
  h3
    color: #fff
    width: 100%
    text-align: center
    z-index: 99
    margin: auto
    position: absolute
    top: 50%
    transform: translateY(-50%)
    text-shadow: 0px 0px 25px #2e2c2d

.kotak-service2
  height: 330px
  width: 100%
  background-color: #000
  object-fit: cover
  img
    width: 100%
    height: 330px
    object-fit: cover
  h3
    color: #fff
    width: 100%
    text-align: center
    z-index: 99
    margin: auto
    position: absolute
    top: 50%
    transform: translateY(-50%)
    text-shadow: 0px 0px 25px #2e2c2d
  // display: flex
.padding-service
  padding: 5px
.content-service
  margin-left: 60px
  margin-right: 60px
  margin-bottom: 40px
// footer
footer
  background-color: #2e2c2d
  // height: 200px
  padding-left: 90px
  padding-right: 40px
  padding-bottom: 10px
.about
  margin-top: 20px
  a
    display: inline-block
    margin-right: 30px
    text-decoration: none
  a:hover,a:active,a:focus
    color: rgba(0, 215, 173, 0.52)
.social
  margin-top: 10px
  img
    max-width: 40px
    // margin: 0px 3px
.copyright
  margin-top: 5px
  img
    max-width: 95px
